/vendor/
humbuglog.*
/bin/phpunit
.coverage
.php_cs.cache

.idea/.name

.idea/composerJson.xml

.idea/misc.xml

.idea/modules.xml

.idea/php-ml.iml

.idea/vcs.xml

.idea/workspace.xml

bin/php-parse

bin/php7to5

composer.lock

composer.lock
